<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ipvc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ipvc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPVCConnect"
        tools:targetApi="31">
        <activity
            android:name=".cursos.esdl.DL"
            android:exported="false" />
        <activity
            android:name=".cursos.esce.Oge"
            android:exported="false" />
        <activity
            android:name=".cursos.esce.Mce"
            android:exported="false" />
        <activity
            android:name=".cursos.esce.Gdl"
            android:exported="false" />
        <activity
            android:name=".cursos.esce.Cf"
            android:exported="false" />
        <activity
            android:name=".cursos.ess.Enfermagem"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Turismo"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Gestao"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Gac"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Emecat"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Em"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Ei"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Ecgm"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Eca"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Ea"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Dp"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Da"
            android:exported="false" />
        <activity
            android:name=".cursos.esa.Eag"
            android:exported="false" />
        <activity
            android:name=".cursos.esa.Ev"
            android:exported="false" />
        <activity
            android:name=".cursos.esa.Bio"
            android:exported="false" />
        <activity
            android:name=".cursos.esa.Agro"
            android:exported="false" />
        <activity
            android:name=".cursos.ese.Esg"
            android:exported="false" />
        <activity
            android:name=".cursos.ese.Eb"
            android:exported="false" />
        <activity
            android:name=".cursos.ese.Apta"
            android:exported="false" />
        <activity
            android:name=".cursos.ese.Acdigi"
            android:exported="false" />
        <activity
            android:name=".escolas.Esdl"
            android:exported="false" />
        <activity
            android:name=".escolas.Esce"
            android:exported="false" />
        <activity
            android:name=".escolas.Ess"
            android:exported="false" />
        <activity
            android:name=".escolas.Esa"
            android:exported="false" />
        <activity
            android:name=".escolas.Ese"
            android:exported="false" />
        <activity
            android:name=".estagios.WeSecure"
            android:exported="false" />
        <activity
            android:name=".cursos.estg.Ersc"
            android:exported="false" />
        <activity
            android:name=".escolas.Estg"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>