<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ipvc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ipvc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPVCConnect"
        tools:targetApi="31">
        <activity
            android:name=".cursos.DL"
            android:exported="false" />
        <activity
            android:name=".cursos.Oge"
            android:exported="false" />
        <activity
            android:name=".cursos.Mce"
            android:exported="false" />
        <activity
            android:name=".cursos.Gdl"
            android:exported="false" />
        <activity
            android:name=".cursos.Cf"
            android:exported="false" />
        <activity
            android:name=".cursos.Enfermagem"
            android:exported="false" />
        <activity
            android:name=".cursos.Turismo"
            android:exported="false" />
        <activity
            android:name=".cursos.Gestao"
            android:exported="false" />
        <activity
            android:name=".cursos.Gac"
            android:exported="false" />
        <activity
            android:name=".cursos.Emecat"
            android:exported="false" />
        <activity
            android:name=".cursos.Em"
            android:exported="false" />
        <activity
            android:name=".cursos.Ei"
            android:exported="false" />
        <activity
            android:name=".cursos.Ecgm"
            android:exported="false" />
        <activity
            android:name=".cursos.Eca"
            android:exported="false" />
        <activity
            android:name=".cursos.Ea"
            android:exported="false" />
        <activity
            android:name=".cursos.Dp"
            android:exported="false" />
        <activity
            android:name=".cursos.Da"
            android:exported="false" />
        <activity
            android:name=".cursos.Eag"
            android:exported="false" />
        <activity
            android:name=".cursos.Ev"
            android:exported="false" />
        <activity
            android:name=".cursos.Bio"
            android:exported="false" />
        <activity
            android:name=".cursos.Agro"
            android:exported="false" />
        <activity
            android:name=".cursos.Esg"
            android:exported="false" />
        <activity
            android:name=".cursos.Eb"
            android:exported="false" />
        <activity
            android:name=".cursos.Apta"
            android:exported="false" />
        <activity
            android:name=".cursos.Acdigi"
            android:exported="false" />
        <activity
            android:name=".escolas.Esdl"
            android:exported="false" />
        <activity
            android:name=".escolas.Esce"
            android:exported="false" />
        <activity
            android:name=".escolas.Ess"
            android:exported="false" />
        <activity
            android:name=".escolas.Esa"
            android:exported="false" />
        <activity
            android:name=".escolas.Ese"
            android:exported="false" />
        <activity
            android:name=".Estagios.WeSecure"
            android:exported="false" />
        <activity
            android:name=".cursos.Ersc"
            android:exported="false" />
        <activity
            android:name=".escolas.Estg"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>