<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ipvc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ipvc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Cursos.DL"
            android:exported="false" />
        <activity
            android:name=".Cursos.Oge"
            android:exported="false" />
        <activity
            android:name=".Cursos.Mce"
            android:exported="false" />
        <activity
            android:name=".Cursos.Gdl"
            android:exported="false" />
        <activity
            android:name=".Cursos.Cf"
            android:exported="false" />
        <activity
            android:name=".Cursos.Enfermagem"
            android:exported="false" />
        <activity
            android:name=".Cursos.Turismo"
            android:exported="false" />
        <activity
            android:name=".Cursos.Gestao"
            android:exported="false" />
        <activity
            android:name=".Cursos.Gac"
            android:exported="false" />
        <activity
            android:name=".Cursos.Emecat"
            android:exported="false" />
        <activity
            android:name=".Cursos.Em"
            android:exported="false" />
        <activity
            android:name=".Cursos.Ei"
            android:exported="false" />
        <activity
            android:name=".Cursos.Ecgm"
            android:exported="false" />
        <activity
            android:name=".Cursos.Eca"
            android:exported="false" />
        <activity
            android:name=".Cursos.Ea"
            android:exported="false" />
        <activity
            android:name=".Cursos.Dp"
            android:exported="false" />
        <activity
            android:name=".Cursos.Da"
            android:exported="false" />
        <activity
            android:name=".Cursos.Eag"
            android:exported="false" />
        <activity
            android:name=".Cursos.Ev"
            android:exported="false" />
        <activity
            android:name=".Cursos.Bio"
            android:exported="false" />
        <activity
            android:name=".Cursos.Agro"
            android:exported="false" />
        <activity
            android:name=".Cursos.Esg"
            android:exported="false" />
        <activity
            android:name=".Cursos.Eb"
            android:exported="false" />
        <activity
            android:name=".Cursos.Apta"
            android:exported="false" />
        <activity
            android:name=".Cursos.apta"
            android:exported="false" />
        <activity
            android:name=".Cursos.Acdigi"
            android:exported="false" />
        <activity
            android:name=".Escolas.Esdl"
            android:exported="false" />
        <activity
            android:name=".Escolas.Esce"
            android:exported="false" />
        <activity
            android:name=".Escolas.Ess"
            android:exported="false" />
        <activity
            android:name=".Escolas.Esa"
            android:exported="false" />
        <activity
            android:name=".Escolas.Ese"
            android:exported="false" />
        <activity
            android:name=".Estagios.WeSecure"
            android:exported="false"
            android:theme="@style/Theme.IPVCConnect" />
        <activity
            android:name=".Cursos.Ersc"
            android:exported="false"
            android:theme="@style/Theme.IPVCConnect" />
        <activity
            android:name=".Escolas.Estg"
            android:exported="false"
            android:theme="@style/Theme.IPVCConnect" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>